/* styles specific to the site */
body {
    background-color: #F5FCFF;
    font-family: Helvetica, Arial, "sans-serif";
}

.ym-wrapper {
    max-width: 80%;
    padding-top: 0;
    margin-top: 0;
}

header {
}
.navbar {
    /*background-color: #bbcebc;*/
}

.left {
    float: left;
}

.right {
    float: right;
}

.contact {
    /*border: 1px solid black;*/
    -moz-box-shadow: 4px 2px 5px black;
    -webkit-box-shadow: 4px 5px 5px black;
    box-shadow: 1px 0px 5px black;
}

.contact ul{
    margin-left: 10px;
    font-size: 1em;
}

.logo {
    padding-left: 0.5em;
}

.tagline {
    margin-top: 1.5em;
    margin-right: 5em;
    text-align: right;
    font-Style: italic;
    font-size: 1.5em;
}
